<div class="rc-exams-container">
    <core-page-list
        [apiDefinition]="apiDefinition"
        [columns]="columns"
        [crud]="crud"
        [title]="title"
        [normalMode]="false"
        [autoResizeWithWindow]="true"
    >
    </core-page-list>


    <!-- [left]="orgTree" -->
    <!-- [outerInOperators]="outerInOperators" -->


    <!-- <ng-template #orgTree>
        <core-org-tree [(ngModel)]="orgIds" (ngModelChange)="onOrgIdsChange($event)"> </core-org-tree>
    </ng-template> -->
</div>